
@{
    ViewBag.Title = "Trasa przejazdu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        displayMap("map");

    });
</script>
<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<h2>Index</h2>
<div>
    <p>
        @Html.Label("Miejsce wyjazdu:")
        @Html.TextBox("MiejsceWyjazdu", null, new { id = "Text1" })
    </p>
    <p>
        @Html.Label("Miejsce docelowe:")
        @Html.TextBox("MiejsceDocelowe", null, new { id = "Text2"})
    </p>

    <p>
        <input id="Button1" type="button" value="Wyznacz trase" onclick="draftRoute('Text1', 'Text2');" />
    </p>
</div>

<div id="map" style="position:relative; width:400px; height:400px;"></div>

